@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: black;
  background-color: rgb(247, 244, 244);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1em;
}

.logo img {
  width: 3em;
  height: 3em;
  margin-right: 0.5em;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  font-weight: 500;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #3193ee;
  margin-right: 1em;
}

.navbar span {
  margin-right: 1em;
  color: #3193ee;
}

.line {
  border: 1px solid rgb(192, 192, 192);
  margin: 1em 1.5em;
}
